/*********************************PAGE LAYOUT***********************************
 *
 * Layout properties that effect the entire page or 
 * properties that can be applied to any part of the page
 *
 *
 ******************************************************************************/

html, body {
  background: #333333;
  color: white;
  margin: 0;
  padding: 0;
}
.hidden {
  display:none;
}
.green {
  color:#00942c;    /*used to apply green text color anywhere in the site*/
}
a {
  color: white;
}
/*********************************PAGE LAYOUT***********************************
 *
 * This is where the layout for the entire site is defined. The containers are 
 * listed in the order in which they should be called in the html document
 *
 *
 ******************************************************************************/
.page-container {
  margin: auto;     /*center the entire webpage in the browser window*/
  margin-top: 75px; /*makes sure the logo is not glued to the top of the page*/
  width: 1024px;
  position:relative;
}
.main-nav {
  /*add rounded corners in case #content uses a different Background color */
  border-bottom-left-radius: 25px 25px;     
  -moz-border-bottom-left-radius: 5% 5%;
  font-family: 'Alegreya SC', serif;/*use a unique google font*/
  /*float: right;
*/  
  position:absolute;
 top:0;
 right:0;
  width:284px;
}
.header {
  font-family:"Arial",sans-Serif;
  height: 100px;
  width: 740px;
}
.social-network {
  float: right;
  padding-top:140px;
  padding-bottom:40px;
  width: 60px;
}

.footer {
  clear: both;          /* this makes sure the footer is always by itself */
  margin: auto;
  margin-top:40px; /* The footer won't be in contact with the other containers*/
  width: 800px;
  text-align:justify;
  text-align-last: justify;
}
/********************************HEADER*****************************************
 *
 * Use a <span> tag to create both the green and white text
 *
 *
*******************************************************************************/
.header h1 {
  font-size:3.6em;
  line-height:90%;
  margin: 0px;
  padding: 0px;
  padding-left:25px;
}
.header h2 {
  margin: 0px;
  padding: 0px;
}
.header a {
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}
/****************************NAVIGATION*****************************************
 *
 * Using align properties and <div> tags a tree like nagation menu is created, 
 * (where the links alternate alignment from a center line)
 *
 *
*******************************************************************************/
.main-nav a {
  font-size: 22px;
  text-decoration: none;
}
.main-nav a:hover {
  text-decoration: underline;
}

/*
 * A container is used for each individual link in the navigation menu
 * and to get the desired layout the containers have to be alternated
 */
.main-nav-left {
  text-align:right;
  width:100%;
}
.main-nav-left a:link {
  margin-right: 50%; 
}
.main-nav-right {
  text-align:left;
  width:100%;
}
.main-nav-right a:link {
  margin-left: 50%;  
}
.current-page {
  background-image: url('./textures/nav-hatched.jpg');
  display: block;
}
/********************************FOOTER*****************************************
 *
 * used the p:after to create a set of properties that result in text-align 
 * justify on only one line
 *
*******************************************************************************/
.footer a {
  font-size:18px;
  Text-decoration: none;
}
.footer a:hover {
  Text-decoration: underline;
}

.footer p:after {
  content: ".";
  display: inline-block;
  height: 0;
  width: 100%;
  visibility: hidden;
}

